body {
    font-family: Arial, sans-serif;
    background-color: #f3f7f6;
    margin: 0;
}

header {
    background-color: #2c7a7b;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
}

.booking-form {
    max-width: 400px;
}

.booking-form label {
    display: block;
    margin-top: 15px;
}

.booking-form input,
.booking-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #38a169;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #2f855a;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;   /* alles linksbündig */
}

th {
    background-color: #e6fffa;
}

tbody tr:nth-child(even) {
    background-color: #f7fafc;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.delete-btn {
    color: white;
    background-color: #e53e3e;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #c53030;
}

.action-col{
    text-align: center;
}

.error{
    color: white;
    background-color: #e53e3e;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}
